<div class="root_container">

    <div style="display: flex;">
        <mat-radio-group [(ngModel)]="selectedSnail">
            @for (snail of snails; track $index) {
            <mat-radio-button [value]="snail">{{snail}}</mat-radio-button>
            }
        </mat-radio-group>

        <button mat-raised-button color="primary" (click)="onSubmit()">Start</button>

    </div>


    <div class="race_area">
        @for (snail of snails; track $index) {
        <div class="race">
            <div class="race_num">{{snail}}</div>
            <div class="race_start" #raceStart></div>
            <div class="race_road">
                <app-snail #snail (isDone)="onRaceDone($event)" [isStart]="isStart" [raceLength]="raceLength"
                    [name]="snail">
                </app-snail>
            </div>
            <div class="race_end" #raceEnd></div>
        </div>
        }
    </div>
</div>